* {
  background-color: darkolivegreen;
}

/* .authorTable {
  text-align: center;
} */


.App {
  display: flex;
  justify-content: center;
}

.authTable td {
  text-align: center;
}

.formDiv {
  border: 2px solid black;
  padding: 20px
}

.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}